*,*:after,*:before{
	box-sizing:border-box;
}
body,html{
	font-family:$ff;
	display:inline-block;
	margin:	0;
	// height:100%;
	min-width:$minWidth;
}
body{
	min-width:100%;
}
input,button{
	font-family:inherit;
	color:inherit;
}
a{
	color:inherit;
	text-decoration:none;
}
.clear:after{
	content: ' ';
	display:table;
	clear:both;
}
.hide{
	display: none;
}
.iblock{
	display:inline-block;
}
.block{
	display:block;
}