$fa-font-path: "../com/font-awesome/fonts";
@import "../com/roboto-fontface/css/roboto-fontface";
@import "../com/font-awesome/scss/font-awesome";
@import "bourbon/bourbon";
@import "variables";
@import "base";
@import "animations";
body{
	background-color:$bg-c;
	@extend .clear;
	display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
   	@media(max-width:900px){
   		flex-wrap: wrap;
   	}
}
.lc{//left-container
	min-width:350px;
	display:inline-block;
	flex-grow:1;
	min-height:100%;
	padding:15px 10px;
	box-shadow:2px 0 3px rgba(0,0,0,0.1);
	@include background-image(linear-gradient(to bottom,$lc-bg-s 0%,$lc-bg-e 100%));
	.avc{
		//avtar container
		display: block;
		margin-top: 50px;
		text-align: center;
		.avci{
			//avc inner
			$av-w:$lc-w*.65;
			display: inline-block;
			width: $av-w;
			height: $av-w;
			border-radius: 50%;
			overflow:hidden;
			position: relative;
			img{
				width: inherit;
				height: inherit;
			}
			@include animation(bounceInDown 1000ms cubic-bezier(0.49, 0.01, 0.24, 1.01));
		}
	}
	.info{
		@include animation(fadeIn 1000ms ease-in);
		text-align: center;
		text-shadow: 1px 1px rgba(255, 255, 255, 0.33);
		.nc{
			//name container
			display: block;
			color: $nc-c;
			font-size: $nc-fs;
		}
		.dept{
			margin-top: 5px;
			color: $nc-c;
			font-size: $nc-fs/1.5;
		}
	}
	.sc{
		position:relative;
		margin-top: 20px;
		text-align: center;
		font-size: $sc-fs;
		a{
			@include animation(fadeInZoom 1000ms ease);
			height: $sc-h;
			width: $sc-h;
			line-height: $sc-h+1px;
			text-align: center;
			vertical-align: middle;
			overflow:hidden;
			border-radius: 50%;
			display: inline-block;
			background-color: darken($lc-bg-s,20%);
			color:#f0f0f0;
			box-shadow:1px 1px 3px rgba(0,0,0,0.3);
			@include transition(all ease 300ms);
			&:hover{
				box-shadow:1px 1px 3px rgba(0,0,0,0.5);
				background-color:darken($lc-bg-s,10%);
			}
		}
	}
	.qc{
		margin-top: 20px;
		color: $nc-c;
		text-align: center;
		font-size: $nc-fs/1.4;
		.q{
			@include animation(fadeIn 1000ms ease);
		}
		.strikers{
			$sn:6;
			text-align: center;
			@for $i from 1 to $sn{
				div:nth-child(#{$i}){
					div{
						@include animation(widthChanger 1000ms cubic-bezier(0.49, 0.01, 0.24, 1.01));
						$width: 70%/($i*1.23);
						@if $i==2 {$width: 60% / (1.7);}
						@if $i==$sn - 1 {$width:2%;}
						min-width: $width;
						height: 2px;
						background-color:$nc-c;
						display: inline-block;
					}
				}
			}
		}
	}
}

.rc{
	display: flex;
	flex-grow: 1;
	color: #000;
	background-color: #fafafa;
	flex-direction: column;
	align-items:stretch;
	justify-content: center;
	.tc{
		position:relative;
		min-width: 100%;
		height: $tc-h;
		height: 60px;
		line-height:60px;
		text-align: center;
		.sfc{
			min-width: 70%;
			height: 35;
			form{
				width: 100%;
				input{
					outline: none;
					border:none;
					border-radius: 3px;
					height: $sfc-h;
					padding:0 15px;
					width: 80%;
					max-width: 500px;
					background-color:rgb(250,250,250);
					box-shadow:0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
				}
			}
		}
	}
	.mc{
		display: flex;
		justify-content: center;
		align-items:center;
		text-align: center;
		flex-wrap: wrap;
		.tile{
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items:center;
			i{
				font-size: 100px;
				// color: #666667;
			}
			img{
				height: 100px;
			}
			padding:20px;
			color: #999;
			position: relative;
			width: 200px;
			height: 180px;
			margin:20px;
			border:solid 1px transparent;
			border-radius: 3px;
			@include transition(all ease 500ms);
			@for $i from 1 to 9{
				&:nth-child(#{$i}){
					@include animation(fadeInZoom ($i*($i - 1)*20+260ms)  cubic-bezier(0.49, 0.01, 0.24, 1.01));
				}
			}
			&:hover{
				border:solid 1px;
			}
			&.se{
				color: rgb(34, 157, 228);
				color: #4285F4;
			}
			&.pic{
				color: #EA4335;
			}
			&.bit{
				color: #FBBC05;
				color: #EC6930;
			}
			&.tic{
				color: #34A853;
			}
			&.tech{
				color: #4DA6C7;
			}
			&.skill{
				color: #34B99A;
			}
			&.sche{
				color: #FF6666;
			}

		}
	}
}